body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background:  #34495e;
}

#dangki {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#dangki .dangki-center{
    width: 350px;
    height: 500px;
    background: #191919;
}

#dangki .dangki-center h1 {
    text-align: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

#dangki .form_text {
    margin-left: 25px;
    margin-top: 25px;
}


input[type="text"], input[type="password"], input[type="email"] {
    width: 270px;
    height: 35px;
    background: none;
    color: white;
    padding-left: 15px;
    outline: none;
    border: 2px solid #3498bd;
}



#dangki .checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    
}

#dangki .checkbox a {
    color: red;
}

#dangki .checkbox label {
    color: rgb(167, 165, 163);
    padding-left: 10px;
}
input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-left: 25px;
}

#dangki .submit {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

button, input[type="reset"] {
    width: 130px;
    height: 30px;
    color: white;
    border: 2px solid #2ecc71;
    text-transform: uppercase;
    background: none;
    cursor: pointer;
    transition: 0.5s;
}

button:hover, input[type="reset"]:hover{
    background: rgb(48, 49, 49);
    color: white;
}

#dangki p{
    margin-left: 20px;
}

#dangki span {
    position: absolute;
    width: 350px;
    margin-left: 12px;

}
